{% extends 'base/base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'mine/css/mine.css' %}">
{% endblock %}
{% block extjs %}
    <script src="{% static 'mine/js/mine.js' %}"></script>
{% endblock %}

{% block title %}
    爱鲜蜂 | 我的
{% endblock %}

{% block content %}
    <div class="mine">
        <div class="user-wrapper">
            <div class="user-img">
                <img src="{% static 'mine/uploads/cihos.jpg' %}" alt="">
            </div>
            <div class="user-content">
                <p>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        未登录
                    </a>
                </p>
                <p>
                    <a href="#">
                        <span class="glyphicon glyphicon-stats"></span>
                        暂无等级（无登录）
                    </a>
                    <a href="{% url 'axf:registe' %}" class="register">注册</a>
                </p>
            </div>
        </div>

        <div class="collect">
            <span class="glyphicon glyphicon-star-empty"></span>
            <i>收藏</i>
        </div>

        <div class="other">
            <section class="my">
                <span>我的订单</span>
                <a href="#">查看所有订单 <b class="glyphicon glyphicon-menu-right"></b></a>
            </section>

            <section>
                <ul>
                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-log-in"></dt>
                                <dd>待付款</dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-floppy-save"></dt>
                                <dd>待收货</dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-edit"></dt>
                                <dd>待评论</dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-usd"></dt>
                                <dd>退款</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>

            <section>
                <ul>
                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-compressed"></dt>
                                <dd>优惠</dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-earphone"></dt>
                                <dd>收货地址</dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-phone-alt"></dt>
                                <dd>客户反馈</dd>
                            </dl>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <dl>
                                <dt class="glyphicon glyphicon-grain"></dt>
                                <dd>关于我们</dd>
                            </dl>
                        </a>
                    </li>
                </ul>
            </section>

            <section class="quit">
                <a href="#">退出</a>
            </section>
        </div>
    </div>
{% endblock %}
